[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
[submodule ".tmux/plugins/tmux-prefix-highlight"]
	path = .tmux/plugins/tmux-prefix-highlight
	url = https://git::@github.com/tmux-plugins/tmux-prefix-highlight
[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule ".tmux/plugins/tmux-current-pane-hostname"]
	path = .tmux/plugins/tmux-current-pane-hostname
	url = https://github.com/soyuka/tmux-current-pane-hostname
