/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  kb-remove-to-eol:   "";
  kb-mode-complete:   "";
  kb-accept-entry:    "Control+l,Return";
  kb-row-up:          "Control+k,Up,Control+p";
  kb-row-down:        "Control+j,Down,Control+n";
}
@import "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
